#tech {
    display: flex;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#tech-img {
    width: 200px;
    padding: 20px;
}

#tech-text {
    width: 100%;
    padding: 0px 20px;
}

#tech-text h3 {
    width: 100%;
    text-align: center;
}

#tech-text p {
    text-align: justify;
    text-indent: 1em;
}

@media (max-width:500px) {
    #tech {
        display: grid;
        place-items: center;
    }
    #tech-img {
        padding: 10px;
    }
}
@media (min-width:1000px){
    #tech:hover{
        font-size: 110%;
    }
}