#tech {
    border: solid 1px black;
    display: flex;
    margin-top: 50px;
}

#tech-img {
    width: 40%;
}

#tech-text {
    padding: 20px;
    width: 60%;
}

#tech-text h3 {
    width: 100%;
    text-align: center;
}

#tech-text p {
    text-align: justify;
    text-indent: 1em;
}