#contact-container {
    text-align: center;
    padding-top: 100px;
}

#contact-content {
    display: flex;
    justify-content: center;
}

#contact-content img {
    padding: 100px;
}

@media (max-width:1400px) {
    #contact-content img {
        padding: 40px;
    }
}

@media (max-width:600px) {
    #contact-container {
        text-align: center;
        padding-top: 100px;
    }
    #contact-content {
        display: grid;
        padding-top: 50px;
    }
    #contact-content img {
        padding: 10px 100px;
    }
}