#course {
    border: solid 1px black;
    display: flex;
    height: 100%;
    background-color: var(--color-secundary);
}

#course-img {
    width: 200px;
    padding: 20px;
}

#course-text {
    width: 100%;
    padding: 0px 20px;
}

#course-text h3 {
    width: 100%;
    text-align: center;
}

#course-text p {
    text-align: justify;
    text-indent: 1em;
}

@media (max-width:500px) {
    #course {
        display: grid;
        place-items: center;
    }
    #course-img {
        padding: 10px;
    }
}