#contact {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin-bottom:500px;
    min-height:197px;
}

#contact img {
    margin-bottom: 20px;
}
@media (max-width:1200px){
    #contact {
        margin-bottom:0px;
    }
}
@media (max-width:575px) {
    #contact{
        padding:25px;
       }
    #contact img {
      margin-bottom:10px;
    }
}
@media (min-width:1000px){
    #contact:hover {
        width:110%;
        font-size:110%;
    }
}