@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --color-primary: rgb(235, 235, 235);
    --link: rgb(105, 105, 105);
    --link-hover: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    background-color: var(--color-primary);
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}