@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Saira+Condensed:wght@300&display=swap');
:root {
    --color-primary: rgb(235, 235, 235);
    --color-secundary: rgb(167, 167, 167);
    --link: rgb(105, 105, 105);
    --link-hover: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

html,
body {
    background-color: white;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}